# Editable install with no version control (aetherquery-framework==0.1.0)
annotated-doc
annotated-types
anyio
asarPy
babel
backrefs
black
certifi
cfgv
charset-normalizer
click
colorama
coverage
distlib
dnspython
docker
fastapi
filelock
flake8
flask
ghp-import
griffe
h11
httptools
identify
idna
iniconfig
Jinja2
Markdown
markdown-it-py
MarkupSafe
mccabe
mdurl
mergedeep
mkdocs
mkdocs-autorefs
mkdocs-get-deps
mkdocs-material
mkdocs-material-extensions
mkdocstrings
mkdocstrings-python
mypy
mypy_extensions
mysql-connector-python
nodeenv
packaging
paginate
pathspec
platformdirs
pluggy
pre_commit
psycopg2-binary
pycodestyle
pydantic
pydantic-settings
pydantic_core
pyflakes
Pygments
pymdown-extensions
pymongo
pytest
pytest-asyncio
pytest-cov
python-dateutil
python-dotenv
pytokens
PyYAML
pyyaml_env_tag
redis
requests
rich
ruff
six
sniffio
starlette
testcontainers
typing-inspection
typing_extensions
urllib3
uvicorn
uvloop
virtualenv
watchdog
watchfiles
websockets
wrapt
